html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.dino-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dino-list li {
    margin-bottom: 1.5rem;
}

.dino-list figure {
    margin: 0;
}

.dino-list img {
    display: block;
    width: 200px;
}